name: Tests
on: [push, pull_request]

jobs:

  tests:
    name: Test suite
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.21", "1.22", "1.23"]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.61

      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: ./...
      
      - name: Tests
        run: go test -count=1 -timeout 240s -race -cover ./...
      
      - name: Build lkgen
        run: cd lkgen && go build
